@model AttendenceSystem.Department

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="d-lg-table-row table-sm">
        <dt>
            Department Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departmentName)
        </dd>

    </dl>
</div>
<p class="text-decoration-none">
    @Html.ActionLink("Edit", "Edit", new { id = Model.departmentId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>

